<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parmila.milkmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.login" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Catalog" android:theme="@style/AppTheme.ActionBar"></activity>
        <activity android:name=".Activities.SRegister" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".Activities.CRegister" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".Activities.RegisterType" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".Activities.SellerDashboard" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".Nav_Activity.Bills" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".Nav_Activity.Order_Now" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".Nav_Activity.Setting" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".Nav_Activity.View_Orders" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".Nav_Activity.Bill_Details" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Nav_Activity.Order_Detail" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Delete" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>